#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hub-page {
  height: 100vh;
}

.text-field-table-wrap {
  .text-field-container {
    width: 100%;
    .text-field {
      background-color: transparent;
    }
  }
}
